doctype html
html
    head
        title Apni Dance Academy
        block script 
        block style 
    body
        nav#navbar
            ul
                div#logo
                    img(src="/static/logo3.png")
                    h3 ADA
                li #[a(href="/") Home ]
                li #[a(href="/") About ]
                li #[a(href="/") Services ]
                li #[a(href="/") Class Info ]
                li #[a(href="/") Contact]

        block content
        block footer 
        footer#footer
            | Copyright © 2024 ApniAcademy.com | All Rights Reserved                