@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anybody", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1 {
    margin: 10px;
    text-align: center;
}
.container{
    min-height: 62vh;
    margin: 40px 0;

}
.myForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.myInput {
    font-size: 15px;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    height: 35px;
    width: 40%;
    padding: 10px;
    outline: none;
}

.btn {
    background-color: #007bff;
    border: 2px solid black;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.btn :hover {
    background-color: #0067cc;
}